<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <!-- dynamic content -->
    
    <!-- if we use = here it will take special characters and end up print string values instead of html.so we use neg - sign    -->
    
    <%- include('./partials/nav.ejs') %>
    
   <div class="details content">
    <h2><%= blog.title %></h2>
    <div class="content">
        <P><%= blog.body %></P>
    </div>
    <a class="delete" data-doc="<%= blog._id %>">
       <img src="/trashcan.svg" alt="delete icon">
    </a>
   </div>

    <%- include('./partials/footer.ejs') %>
 
    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click',(e)=>{
           const endpoint = `/blogs/${trashcan.dataset.doc}`;
           fetch(endpoint,{
            method:'DELETE'
           }).then((response)=>response.json())
           .then((data)=>window.location.href = data.redirect)
           .catch(err=>console.log(err)); 
        })
    </script>
</body>
</html>

<!-- ejs templates are processed thruogh the EJS view engine on the server -->